.body {
    font-size: 20px;
    color: #000;
}
.header{
    background-color: hwb(38 20% 7%);
    height: 90px;
    border: 1px black solid;
    text-align: left;
    padding: 15px;
     margin-bottom: 10px;
    
    
    


}
.middle {
    display: flex;

}
.aside {
    background-color: gray;
    flex-grow: 1;
    border: 1px black solid;
        

}
.main {
    background-color: gray;
    flex-grow: 1;
    height: 99px;
    border: 1px black solid;
        
}

.footer {
    background-color: rgb(94, 140, 187);
    height: 99px;
    border: 1px black solid;
    text-align: left;
    padding: 15px;
}