.container {

    display: flex;
    width: 100%;
    height: 300px;
}

.box {
    flex: 1;
    margin: 10px;
}

.yellow {
    background-color: yellow;
    width: 100%;
    height: 400px;
}

.gray {
    background-color: grey;
    width: 100%;
    height: 400px;

}

.cyan {
    background-color: cyan;
    width: 100%;
    height: 400px;
}