

.container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 10px;
}

.header {
    background-color: gold;
    border: 1px black solid;
    padding: 10px;
    height:200px;
}
.middle
{
    
    padding: 0px;
    height:200px;
    display: flex;
    flex-direction: row;
    

}

.footer {
     background-color: rgb(0, 145, 255);
    border: 1px black solid;
    padding: 10px;
    height:200px;
}
.aside {
    
background-color: gray;
border: 1px solid black;
width: 35%;
   
   

   
}
.main{
    
    background-color: rgb(24, 205, 145);
    border: 1px black solid;
    width: 85%;
    margin-left: 20px;
    


}

