.container {
    width: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.header {
    background-color: gold;
    display: flex;
    height: 70px;
    border: 1px;
    padding: 25px;


}
.yellow-head1 {
    display: flex;
    border: 1px solid black;
    width: 1px;
    flex-grow: 1;
    background-color: rgb(0, 255, 255);

}
.yellow-head {
    display: flex;
    justify-content: flex-end;
    flex: 7;

}
.pink-boxes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 15px;


}
.pink1,
.pink2,
.pink3
.pink4 {
    border: black 1px solid;
}
.middle {
    display: flex;
    gap: 10px;
}

.box {
    width: 80px;
    height: 50px;
    background: hotpink;
}

.aside {
    background: #cfcfcf;
    flex-grow: 1;
    border: 1px black solid;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 30px;

}
.main {
    background-color: rgb(60, 235, 60);
    flex-grow: 6;
    height: 100px;
    border: 1px black solid;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 50px;
    padding: 25px;


}
.footer {
    background-color: deepskyblue;
    height: 90px;
    border: 1px black solid;
    padding: 25px;
}